<!--  -->
<% if(message){ %>
<div class="registration">
  <h1 class="fail"><%= message %></h1>
</div>
<% } %>

<div class="postJob-form-container">
  <!--  -->
  <div class="title">Delete Job</div>

  <form action="/delete-job" method="post">
    <input type="hidden" name="jobID" value="<%= job.jobID %>" />

    <div class="user-details">
      <div class="input-box-post-job">
        <span class="details"> Company Name </span>
        <input class="input" type="text" name="company" value="<%= job.company %>" disabled />
      </div>

      <div class="input-box-post-job">
        <span class="details"> Job Type Selection </span>
        <input class="input" name="type" value="<%= job.type %>" disabled />
      </div>

      <div class="input-box-post-job">
        <span class="details"> Designation </span>
        <input class="input" name="designation" class="details" value="<%= job.designation %>" disabled />
      </div>

      <div class="input-box-post-job">
        <span class="details"> Salary </span>
        <input class="input" type="text" name="salary" value="<%= job.salary %>" disabled />
      </div>

      <div class="input-box-post-job">
        <span class="details"> Location </span>
        <input class="input" type="text" name="location" value="<%= job.location %>" disabled />
      </div>

      <div class="input-box-post-job">
        <span class="details"> No Of vaccancies </span>
        <input class="input" type="text" name="vacancies" value="<%= job.vacancies %>" disabled />
      </div>

      <div class="input-box-post-job">
        <span class="details"> Experience Required </span>
        <input class="input" type="text" name="experience" value="<%= job.experience %>" disabled />
      </div>

      <div class="input-box-post-job">
        <span class="details"> Skills required </span>
        <input class="input" type="text" placeholder="list skills saperated by comma" name="skills" value="<%= job.skills %>" disabled />
      </div>

      <div class="desc-textarea">
        <div class="details">Job Description</div>
        <textarea class="input" type="text" name="description" disabled><%= job.description %></textarea>
      </div>
    </div>
    <div>
      <a href="/update-job"><button class="submit-btn" type="submit">Delete Job</button></a>
    </div>
  </form>
</div>
<!--  -->
